widget {
// <- namespace
//     ^ punctuation.bracket
  prop-name : 10;
// ^ property
//          ^ punctuation.delimiter
//            ^ number
//              ^ punctuation.delimiter

}
// <- punctuation.bracket 
