*  {}
// <- namespace
// ^ punctuation.bracket
//  ^ punctuation.bracket

window. normal. normal, text-box {}
// <- namespace
//    ^ punctuation.delimiter
//      ^ property
//            ^ punctuation.delimiter
//              ^ tag
//                    ^ punctuation.delimiter
//                        ^ namespace

#window {}
// <- punctuation.special
//  ^ namespace
//      ^ punctuation.bracket
//       ^ punctuation.bracket
