widget {
// <- namespace
//     ^ punctuation.bracket

  string : "a string value";
// ^ variable
//       ^ punctuation.delimiter
//           ^ string
//                         ^ punctuation.delimiter

  integer : 10;
// ^ variable
//        ^ punctuation.delimiter
//           ^ number
//            ^ punctuation.delimiter

  float : 10.1;
// ^ variable
//      ^ punctuation.delimiter
//          ^ number
//            ^ punctuation.delimiter

  bool : true;
// ^ variable
//     ^ punctuation.delimiter
//        ^ boolean

  bool : true;
// ^ variable
//     ^ punctuation.delimiter
//        ^ boolean
//           ^ punctuation.delimiter

  image : url("filename", both);
// ^ variable
//      ^ punctuation.delimiter
//        ^ function.builtin
//           ^ punctuation.bracket
//              ^ string
//                      ^ punctuation.delimiter
//                          ^ keyword
//                            ^ punctuation.bracket
//                             ^ punctuation.delimiter

  gradient : linear-gradient(to top, #111, #111, #111);
// ^ variable
//         ^ punctuation.delimiter
//              ^ function.builtin
//                          ^ punctuation.bracket
//                               ^ keyword
//                                 ^ punctuation.delimiter
//                                   ^ punctuation.special
//                                    ^ number
//                                       ^ punctuation.delimiter
//                                         ^ punctuation.special
//                                          ^ number
//                                             ^ punctuation.delimiter
//                                               ^ punctuation.special
//                                                ^ number
//                                                   ^ punctuation.bracket
//                                                    ^ punctuation.delimiter

  gradient : linear-gradient(10deg, #111, #111, #111);
// ^ variable
//         ^ punctuation.delimiter
//              ^ function.builtin
//                          ^ punctuation.bracket
//                            ^ number
//                              ^ type
//                                ^ punctuation.delimiter
//                                  ^ punctuation.special
//                                   ^ number
//                                      ^ punctuation.delimiter
//                                        ^ punctuation.special
//                                         ^ number
//                                            ^ punctuation.delimiter
//                                              ^ punctuation.special
//                                               ^ number
//                                                  ^ punctuation.bracket
//                                                   ^ punctuation.delimiter

  hex-color : #111;
// ^ variable
//          ^ punctuation.delimiter
//            ^ punctuation.special
//             ^ number
//                ^ punctuation.delimiter

  rgb-color : rgb(10, 11, 111, 10%);
// ^ variable
//          ^ punctuation.delimiter
//             ^ function.builtin
//               ^ punctuation.bracket
//                 ^ number
//                  ^ punctuation.delimiter
//                     ^ number
//                      ^ punctuation.delimiter
//                          ^ number
//                           ^ punctuation.delimiter
//                              ^ number
//                               ^ type
//                                ^ punctuation.bracket
//                                 ^ punctuation.delimiter

  hsl-color : hsl(10deg, 11%, 111%, 10%);
// ^ variable
//          ^ punctuation.delimiter
//             ^ function.builtin
//               ^ punctuation.bracket
//                 ^ number
//                  ^ type
//                     ^ punctuation.delimiter
//                        ^ number
//                         ^ type
//                          ^ punctuation.delimiter
//                              ^ number
//                               ^ type
//                                ^ punctuation.delimiter
//                                   ^ number
//                                    ^ type
//                                     ^ punctuation.bracket
//                                      ^ punctuation.delimiter

  hwb-color : hwb(10deg, 11%, 111%, 10%);
// ^ variable
//          ^ punctuation.delimiter
//             ^ function.builtin
//               ^ punctuation.bracket
//                 ^ number
//                  ^ type
//                     ^ punctuation.delimiter
//                        ^ number
//                         ^ type
//                          ^ punctuation.delimiter
//                              ^ number
//                               ^ type
//                                ^ punctuation.delimiter
//                                   ^ number
//                                    ^ type
//                                     ^ punctuation.bracket
//                                      ^ punctuation.delimiter

  cmyk-color : cmyk(11%, 11%, 111%, 10%);
// ^ variable
//           ^ punctuation.delimiter
//               ^ function.builtin
//                 ^ punctuation.bracket
//                   ^ number
//                    ^ type
//                     ^ punctuation.delimiter
//                        ^ number
//                         ^ type
//                          ^ punctuation.delimiter
//                              ^ number
//                               ^ type
//                                ^ punctuation.delimiter
//                                   ^ number
//                                    ^ type
//                                     ^ punctuation.bracket
//                                      ^ punctuation.delimiter

  named-color : aqua / 50%;
// ^ variable
//            ^ punctuation.delimiter
//                ^ string.special
//                   ^ operator
//                      ^ number
//                       ^ type
//                        ^ punctuation.delimiter

  text-syle : bold;
// ^ variable
//          ^ punctuation.delimiter
//              ^ keyword
//                ^ punctuation.delimiter

  line-style : dash;
// ^ variable
//           ^ punctuation.delimiter
//               ^ keyword
//                 ^ punctuation.delimiter

  distance-calc: calc(123px - 100% * calc(10% + 2%));
  //   ^ variable
  //           ^ punctuation.delimiter
  //              ^ function.builtin
  //                 ^ punctuation.bracket
  //                   ^ number
  //                      ^ type
  //                        ^ operator
  //                          ^ number
  //                             ^ type
  //                               ^ operator
  //                                  ^ function.builtin
  //                                     ^ punctuation.bracket
  //                                       ^ number
  //                                        ^ type
  //                                          ^ operator
  //                                            ^ number
  //                                             ^ type
  //                                              ^ punctuation.bracket
  //                                               ^ punctuation.bracket
  //                                                ^ punctuation.delimiter

  distance-pixel: 10px;
  //   ^ variable
  //            ^ punctuation.delimiter
  //               ^ number
  //                 ^ type
  //                  ^ punctuation.delimiter

  position-value: south east;
  //   ^ variable
  //            ^ punctuation.delimiter
  //               ^ keyword
  //                    ^ keyword
  //                        ^ punctuation.delimiter

  reference-value: @ref;
  //   ^ variable
  //             ^ punctuation.delimiter
  //               ^ punctuation.special
  //                  ^ variable
  //                   ^ punctuation.delimiter

  reference-value: var(ref, 10);
  //   ^ variable
  //             ^ punctuation.delimiter
  //                ^ function.builtin
  //                  ^ punctuation.bracket
  //                    ^ variable
  //                      ^ punctuation.delimiter
  //                        ^ number
  //                          ^ punctuation.bracket
  //                           ^ punctuation.delimiter

  orientation-value: horizontal;
  //   ^ variable
  //               ^ punctuation.delimiter
  //                   ^ keyword
  //                           ^ punctuation.delimiter

  cursor-value: pointer;
  //   ^ variable
  //          ^ punctuation.delimiter
  //               ^ keyword
  //                   ^ punctuation.delimiter

  list-value: [ window, widget ];
  //   ^ variable
  //        ^ punctuation.delimiter
  //          ^ punctuation.bracket
  //              ^ variable
  //                  ^ punctuation.delimiter
  //                      ^ variable
  //                           ^ punctuation.bracket
  //                            ^ punctuation.delimiter

  environ-value: ${ENV_VAR};
  //   ^ variable
  //           ^ punctuation.delimiter
  //             ^ punctuation.special
  //              ^ punctuation.bracket
  //                ^ variable
  //                      ^ punctuation.bracket

  environ-value: env(ENV_var, 11);
  //   ^ variable
  //           ^ punctuation.delimiter
  //              ^ function.builtin
  //                ^ punctuation.bracket
  //                    ^ variable
  //                        ^ punctuation.delimiter
  //                          ^ number
  //                            ^ punctuation.bracket
  //                             ^ punctuation.delimiter

  // comment
  //  ^ comment

  /* an other comment*/
  //  ^ comment
}
// <- punctuation.bracket 
